.onsale {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 12px;
	padding-left: 8px;
	padding-right: 8px;

	background: #fff;
}

.loading {
	color: #F35241;
}

.reload {
	line-height: 34px;
	padding-left: 28px;
	padding-right: 28px;

	color: #fff;
	background: #F35241;
	border-radius: 5px;
	font-size: 13px;
}

.onsaleTitle {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 6px; 
	padding-left: 8px;
	line-height: 28px;

	font-size: 14px;
	border-bottom: 0.5px solid #f6f6f6;
}

.onsaleItem {
	display: flex;
	flex-direction: column;
	width: 26%;
	align-items: center;
	padding-bottom: 8px;
	padding-top: 8px;

	font-size: 12px;
}

.onsaleItemBottomLine {
	border-bottom: 0.5px solid #ccc;
}

.onsaleItemRightLine {
	border-right: 0.5px solid #ccc;
}

.onsaleItem h4 {
	margin: 0;
	color: #BA4A00;
}

.onsaleItem div {
	color: #EB984E;
}

.onsaleItem img {
	width: 90px;
	height: 70px;
}