.searchHeader {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 46px;
	align-items: center;

	background: #F35241;
	color: #fff;
}

.searchBackIcon {
	top: 2px;
	left: 0px;
	width: 40px;
	height: 44px;
	margin-left: 8px;
	line-height: 44px;
	text-align: left;
	font-size: 16px;
}

.searchHeaderInputSupView {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 30px;
	margin-right: 14px;
	padding-left: 4px;

	border-radius: 15px;
	background: #fff;
	color: #555;
}

.searchHeaderInputSupView input {
	flex: 1;
	align-self: stretch;
	border-style: none;
	border-radius: 15px;
	font-size: 13px;
	padding-left: 4px;
	margin-right: 15px;

	border: none;
	outline: none;
}